body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #fff;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #007bff;
}

form {
    text-align: center;
    margin-top: 20px;
}

input[type="file"] {
    display: none;
}

.upload-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-btn:hover {
    background-color: #0056b3;
}

.predict-btn {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.predict-btn:hover {
    background-color: #218838;
}

#prediction {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #007bff;
}

#image-preview {
    display: none;
    max-width: 100%;
    margin-top: 20px;
}

#logo {
    display: block;
    margin: 0 auto;
    width: 200px;
}

/* Navigation styles */
nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #555;
}
